/*
main 部分开始
 */
.main_wrap{
	width: 960px;
	margin:0 auto;
	margin-top: 20px;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
}

.main_left{
	width: 648px;
	background: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-right: 1px solid #E1E1E1;
	float: left;
}

.top_tab{
	height: 34px;
	border-bottom: 1px solid #CCCCCC;
	border-color: #CCCCCC;
	margin-top: 30px;
	margin-bottom: 10px;
}

.tab_item_active{
	border: 1px solid #CCCCCC;
	font-weight: bold;
	padding: 10px 15px;
	display: inline;
	border-bottom-width: 0px;
	margin-right: 5px;
	overflow: visible;
	background: #ffffff;
	float: left;
}

.tab_item_not_active{
	background: #E9ECEE;
	padding: 10px 15px;
	display: inline;
	margin-right: 5px;
	overflow: hidden;
	float: left;
}

.tab_item_not_active a,
.tab_item_active a{
	color: #000000;
}

