/*全局控制*/
body{margin:0; padding:0; font-size:12px;  
	font-family:"Arial","宋体"; background: #ECECEC;}

/*重置浏览器默认样式*/
h1, h2, h3, p, ul, li, dl, dt, dd, img, input, a{margin:0; 
padding:0; list-style:none; text-decoration: none; 
color: #000000;}

/*
header 部分开始
 */
#header{height:40px; background: 
	#4A5055;
}
	
.header_content{width: 960px; height: 40px; margin:0 auto;}

.header_content .header_nav a{
	float:left;
}

.header_content .header_nav ul{
	height: 40px; width:370px; float:left; margin-left: 32px;
}

.header_content .header_nav li{
	height: 40px; padding: 0px 10px; line-height: 40px; 
	font-size: 14px; color: #ffffff; float:left;
	position: relative;
}

.header_right{
	height: 40px; line-height: 40px;
	float: right;
}

.search_text{
	border-radius: 5px 5px 5px 5px;
	width:163px; 
	height: 19px;
	border: 0px;
	padding: 3px 5px;
	color: #999999;
	font-size: 12px;
	margin-top: 7px;
	float: left;
}

.search_button{
	margin-left: -3px;	
	margin-top: 7px; 
	float:left;
}

.header_content .header_right ul{
	height: 40px; margin-left: 32px; float:right;
}

.header_content .header_right li{
	height: 40px; padding: 0px 10px; line-height: 40px; 
	font-size: 12px; float:left; 
	position: relative;
}

.header_content a{
	text-decoration: none;
	color:#ffffff;
}

.header_search{
	float: left;
}

.header_current_page{
	background: #414448;
}

.header_apps_list{
	width: 400px; height:300px;
	 display: none;  background: #ffffff;
	 position: absolute;
	 top: 40px;
	 left: -50px;
	 padding: 20px 20px;
	 border-bottom: 2px solid gray;
	 border-left: 2px solid gray;
	 border-right: 2px solid gray;
	 z-index: 100;
}

.header_message_list{
	width: 80px; height: 180px;
	display: none; background: #ffffff;
	position: absolute;
	top:40px;
	right:0px;
	 border-bottom: 2px solid gray;
	 border-left: 2px solid gray;
	 border-right: 2px solid gray;
	z-index: 100;
}

.app_link{
	width: 50px;
	padding: 8px 15px;
	float: left;
}

.header_content .header_apps_list a,
.header_content .header_message_list a, 
.header_content .header_account_list a{
	text-align: center;
	line-height: 30px;
	color: #000000;
	font-size: 12px;
}

.header_list_a_line{
	padding-left: 10px;
}

.header_account_list{
	width: 80px; height: 180px;
	display: none; background: #ffffff;
	position: absolute;
	top:40px;
	right:0px;
	 border-bottom: 2px solid gray;
	 border-left: 2px solid gray;
	 border-right: 2px solid gray;
	z-index: 100;
}
/*
header 部分结束
 */

/*
main 部分开始
 */
.main_wrap{
	width: 960px;
	margin:0 auto;
	margin-top: 20px;
	position: relative;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
}

.main_left{
	width: 649px;
	background: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-right: 1px solid #E1E1E1;
	/*float: left;*/
}

.send_weibo_tips_top_left{
	font-size: 14px;
	color:  #666666;
	font-family: "微软雅黑";
	float: left;
	font-weight: bold;
}

.send_weibo_tips_top_right{
	font-size: 12px;
	color:#CCCCCC;
	float: right;
}

.send_weibo_tips_top_right_num{
	font-size: 14px;
	color: #004499;
}

.send_weibo_textarea{
	width: 637px;
	height: 60px;
	line-height: 20px;
	resize: none;
	margin-top: 10px;
	padding: 5px;
}

.send_weibo_tips_top{
	width: 649px;
	margin-top: 20px;
	float: left;
}

.super_function_type{
	color: #999999;
	padding-top: 10px;
	float: left;
	margin-right: 10px;
}

.send_weibo_with_super_function{
	height: 30px;
	margin-top: 4px;
}

.super_function_type img{
	padding-right: 4px;
	float: left;
}

.send_weibo_with_super_function input{
	float: right;
}

.top_ad{
	margin-top: 15px;
	margin-bottom: 15px;
}

.top_tab{
	height: 34px;
	border-bottom: 1px solid #CCCCCC;
	border-color: #CCCCCC;
	margin-top: 30px;
	margin-bottom: 10px;
}

.tab_item_active{
	border: 1px solid #CCCCCC;
	font-weight: bold;
	padding: 10px 15px;
	display: inline;
	border-bottom-width: 0px;
	margin-right: 5px;
	overflow: visible;
	background: #ffffff;
	float: left;
}

.tab_item_not_active{
	background: #E9ECEE;
	padding: 10px 15px;
	display: inline;
	margin-right: 5px;
	overflow: hidden;
	float: left;
}

.tab_item_not_active a,
.tab_item_active a{
	color: #000000;
}

.new_weibo{
	padding-left: 60px;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #DFDFDF;
}



.new_weibo_user_name{
	height: 25px;
	line-height: 25px;
	color: #3366CC;
	font-weight: bold;
	position: relative;
}

.new_weibo_user_name img{
	width:50px;
	height:47px;
	position: absolute;
	left: -60px;
}

.new_weibo_user_name a{
	color: #3366CC;
}

.new_weibo_content{
	line-height: 25px;
	font-size: 14px;
}

.weibo_retransmitted{
	border: 1px solid #E1E1E1;
	background: #F9FAFA;
	padding:15px 15px;
	margin-top: 10px;
	position: relative;
}

.weibo_retransmitted img{
	position: absolute;
	left: 15px;
	top: -8px;
}

.weibo_retransmitted_user_name{
	height: 25px;
	line-height: 25px;
	color: #3366CC;
}

.weibo_retransmitted_user_name a{
	color: #3366CC;
}

.weibo_retransmitted_content{
	line-height: 25px;
	font-size: 12px;
}

.weibo_info{
	padding-top: 10px;
	padding-bottom: 10px;
}

.date_time{
	color: #99B2E5;
	float: left;
}

.from_address{
	color: #999999;
	margin-left:20px;
	float: left;
}

.comment_and_retransmission{
	color: #99B2E5;
	float: right;
}

.weibo_info a{
	color: #99B2E5;
}

.main_right{
	width: 230px;
	margin-left: 1px;
	padding:20px 20px;
	background: #F8F8F8;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	/*float: right;*/
}

.main_right_profile{
	width: 230px;
	height: 100px;
}

.main_right_profile_image{
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
}

.main_right_profile_name{
	width: 120px;
	height: 30px;
	margin-left: 10px;
	font-weight: bold;
	float: left;
}

.main_right_profile_name a{
	color: #3366CC;
}

.main_right_profile_reputation{
	width: 120px;
	height: 20px;
	margin-left: 10px;
	color: #666666;
	line-height: 30px;
	float: left;
}

.main_right_link_info{
	width: 230px;
	height: 42px;
	margin-top: 10px;
}

.main_right_link_info_item{
	width: 56px;
	height: 42px;
	line-height: 21px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	float: left;
}

.main_right_link_info_item_last{
	border: none;
}

.main_right_intersting_people{
	border-top: 2px solid #CCCCCC;
	margin-top: 20px;
	padding-top: 20px;
}

.main_right_title{
	width: 230px;
	height: 20px;
}

.main_right_title_left{
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.main_right_title_right{
	float: right;
}

.main_right_title_right a{
	color: #3366CC;
}

.main_right_intersting_people_item{
	width: 230px;
	height: 50px;
	padding-top: 20px;
	position: relative;
}

.main_right_intersting_people_profile_image{
	width: 50px;
	height: 47px;
	margin-right: 10px;
	float: left;
}

.main_right_intersting_people_profile_name{
	width: 108px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
}

.main_right_intersting_people_profile_name a{
	color: #3366CC;
}

.main_right_intersting_people_profile_intro{
	width: 108px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
}

.main_right_intersting_people_follow_button{
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #CCCCCC;
	margin-left: 10px;
	position: absolute;
	top: 30px;
	right: 0px;
	float: right;
}

.main_right_intersting_people_follow_button a{
	color: #666666;
}

.main_right_intersting_topic{
	border-top: 2px solid #CCCCCC;
	margin-top: 20px;
	padding-top: 20px;
}

.intersting_topic_item{
	width: 230px;
	height: 20px;
	margin-top: 10px;
}

.intersting_topic_item_left a{
	width: 180px;
	height: 20px;
	color: #3366CC;
	overflow: hidden;
	float: left;
}

.intersting_topic_item_right{
	height: 20px;
	color: #666666;
	float: right;
}

#footer{
	width: 960px;
	margin: 0 auto;
	background: #F8F8F8;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.footer_item{
	width: 240px;
	padding-top: 20px;
	float: left;
}

.footer_item_topic{
	width: 240px;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
}

.footer_item_link_item{
	width: 240px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.copy_right_info{
	width: 920px;
	height: 30px;
	line-height: 30px;
	padding: 10px 20px;
	color: #999999;
	overflow: hidden;
}

.copy_right_info_left{
	float: left;
}

.copy_right_info_right{
	float: right;
}

.loading {
	background:#c1c39a;
	color:#303030;
	font-size:20px;
	padding:5px 10px;
	text-align:center;
	width:450px;
	margin:0px auto;
	display:none;
	border-radius: 5px;
}

.main_right_intersting_people_profile_image img{
	width:50px;
	height:40px;
}

#page_bar{
	height: 80px;
	line-height: 30px;
	font-size: 20px;
}

#send_weibo_with_super_function_hidden_panel{
	
	display: block;
	background-color: green;
}