/*全局控制*/
body{margin:0; padding:0; font-size:12px;  
	font-family:"Arial","宋体"; background: url("/image/login_background.jpg");}

/*重置浏览器默认样式*/
h1, h2, h3, p, ul, li, dl, dt, dd, img, input, a{margin:0; 
padding:0; list-style:none; text-decoration: none; 
color: #000000;}