#main_wrap{
	width: 880px;
	margin-top: 20px;
	background-color: #ffffff;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 40px;
}

#reset_password{
	height: 30px;
	padding-bottom: 15px;
	border-bottom: 2px solid grey;
	font-size: 24px;
}

#reset_password_form{
	width: 700px;
	height: 90px;
	margin-left: 60px;
	margin-top: 30px;
}

#email_address_input{
	height: 30px;
	width: 400;
	float: left;
}

#reset_password_button_image{
	float: left;
	margin-left: 5px;
}

#reset_password_tip{
	width: 500px;
	height: 30px;
	line-height: 30px;
	float:left;
}

#reset_password_info{
	margin-left: 40px;
	color: red;
}